@inherits LayoutComponentBase
@using drgndrop.Services;

@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject UserService UserService
@inject CookieService CookieService

@if (MetaTags)
{
    <HeadContent>
        <meta name="description" content="FOSS privacy focused file sharing platform">
            
        <meta name="og:url" content="@(Program.Http)://@(Program.DomainName)">
        <meta name="og:type" content="website">
        <meta name="og:title" content="@Program.AppName">
        <meta name="og:description" content="FOSS privacy focused file sharing platform">
        <meta name="og:image" content="">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:domain" content="@Program.DomainName">
        <meta name="twitter:url" content="https://drgndrop.me">
        <meta name="twitter:title" content="@Program.AppName">
        <meta name="twitter:description" content="FOSS privacy focused file sharing platform">
        <meta name="twitter:image" content="">

        <meta name="theme-color" content="#0A60B0">
    </HeadContent>
}

<PageTitle>@Program.AppName</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 text-left fixed-top">
            @Title
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    public static string Title = "";
    public static bool Ready = false;
    public bool MetaTags = false;

    protected override async Task OnInitializedAsync()
    {
        await CookieService.LoadCookies(JS);

        var sessionToken = CookieService.GetCookie("session-token");
        if (!string.IsNullOrEmpty(sessionToken))
        {
            UserService.Login(sessionToken);
        }

        Title = Utils.GetHeader(NavManager.Uri);

        if (Title != "Files")
        {
            MetaTags = true;
            StateHasChanged();
        }

        NavManager.LocationChanged += LocationChanged;
        Ready = true;
        await base.OnInitializedAsync();
    }

    async void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        Title = Utils.GetHeader(NavManager.Uri);
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
}