@page "/myfiles"
@using drgndrop.Services
@inject NavigationManager NavManager
@inject UserService UserService

<PageTitle>My Files</PageTitle>

<div class="container-fluid">
    <table class="table text-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>File</th>
                <th>Creation</th>
                <th>Size</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Files.Count; i++)
            {
                <tr>
                    <td><button class="btn me-3"><span class="oi oi-link-intact text-white"></span></button>@Files[i].ID</td>
                    <td>@Files[i].Name</td>
                    <td>@Utils.ParseEpoch(Files[i].Creation)</td>
                    <td>@Utils.ParseBytes(Files[i].Size)</td>
                    <td class="text-muted me-0">@Files[i].PasswordHash</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public List<DrgnfileInfo> Files = new List<DrgnfileInfo>();

    protected override async Task OnInitializedAsync()
    {
        if (!UserService.LoggedIn)
        {
            NavManager.NavigateTo("/login");
        }
        else
        {
            var user = UserService?.CurrentUser;
            if(user.Uploads == null) 
            {
                user.Uploads = new List<DrgnfileInfo>();
                user.Update();
            }
            Files = user.Uploads;
        }

        await base.OnInitializedAsync();
    }
}