@page "/upload"
@using drgndrop;
@using SevenZip;
@inject IWebHostEnvironment Environment
@inject NavigationManager NavManager
@inject IClipboardService ClipboardService
@inject IJSRuntime JS

<PageTitle>Upload</PageTitle>

<div class="container-fluid">
    @if(!Finished)
    {
        @if (!Uploading)
        {
            <form>
                <div class="form-group">
                    <InputFile OnChange="@UploadFiles" />
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="encrypt" @bind="@Encrypted" />
                    <label class="form-check-label" for="encrypt">Encrypt</label>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="autocopy" @bind="@AutoCopy" />
                    <label class="form-check-label" for="autocopy">Copy to Clipboard</label>
                </div>
            </form>
        }
        else
        {
            <LoadingTemplate>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Uploading...
            </LoadingTemplate>

            <div class="new-line"></div>
            <p>@(Utils.BytesToMB(UploadedBytes, 2))MB / @(Utils.BytesToMB(DroppedFile.Size, 2))MB</p>
        }
    }

    @if (Errored)
    {
        <p>Error: @ErrorMsg</p>
    }
</div>


@code
{
    public string ErrorMsg = "";
    public bool Errored => ErrorMsg != "";
    public bool Uploading = false;
    private bool Encrypted = true;
    private int UploadedBytes = 0;
    private string LinkToFile = "";
    private bool AutoCopy = true;
    private bool AutoCopied = false;
    public bool Finished = false;
    public IBrowserFile DroppedFile = null;

    public string FileID = "";
    public string FileExt => Utils.GetExtension(DroppedFile.Name);
    public string Password = "";
    public string FilePath => Path.Combine(Program.UploadPath, FileID);
    public Timer Timer = null;

    public void ResetState()
    {
        AutoCopied = false;
        ErrorMsg = "";
        Uploading = false;
        Finished = false;
        UploadedBytes = 0;

        DroppedFile = null;

        Password = "";
    }

    async Task UploadFiles(InputFileChangeEventArgs e)
    {
        ResetState();

        var files = e.GetMultipleFiles();

        if(files.Count > 1)
        {
            ErrorMsg = $"Currently only one file per upload is allowed!";
            Uploading = false;
            return;
        }

        DroppedFile = files[0];

        await using var Timer = new Timer(_ => InvokeAsync(() => StateHasChanged()));
        Timer.Change(TimeSpan.FromMilliseconds(1000), TimeSpan.FromMilliseconds(1000));

        var drgnfile = GenerateNewFile(DroppedFile.Size);
        await ProcessFile(drgnfile);

        if(AutoCopy) CopyToClipboard();

        Timer.Dispose();
        Uploading = false;
        Finished = true;

        NavManager.NavigateTo(LinkToFile);
    }

    public Drgnfile GenerateNewFile(long size)
    {
        FileID = Utils.GenID();
        if (Encrypted) Password = Utils.GenPass();

        return new Drgnfile(DroppedFile.Name, Password, size);
    }

    public async Task ProcessFile(Drgnfile drgnfile)
    {
        Uploading = true;

        Stream rs = null;
        var us = new MemoryStream();
        var cs = new MemoryStream();
        var compressor = new SevenZipCompressor();

        try
        {
            if (DroppedFile.Size >= Program.MaxFileSize)
            {
                ErrorMsg = $"One or more file sizes are too big ({DroppedFile.Name})! The size limit is {Utils.BytesToMB(Program.MaxFileSize)} MB per file.";
                throw new InvalidOperationException(ErrorMsg);
            }

            rs = DroppedFile.OpenReadStream(Program.MaxFileSize);

            byte[] buffer = new byte[rs.Length];
            while (await rs.ReadAsync(buffer, 0, (int)rs.Length) is int read && read > 0)
            {
                UploadedBytes += read;
                await us.WriteAsync(buffer, 0, read);
            }

            if (Encrypted) await compressor.CompressStreamAsync(us, cs, Password);
            else await compressor.CompressStreamAsync(us, cs);
        }
        catch (Exception ex)
        {
            cs?.Dispose();
            us?.Dispose();
            rs?.Dispose();

            ErrorMsg = ex.Message;

            if (File.Exists(FilePath)) File.Delete(FilePath);

            Uploading = false;
            Finished = true;
        }
        finally
        {
            await drgnfile.Save(FilePath, cs);

            us?.Dispose();
            rs?.Dispose();
            cs?.Dispose();

            if (Encrypted) LinkToFile = $"files/{FileID}?key={Password}";
            else LinkToFile = $"files/{FileID}";
        }
    }

    public async void CopyToClipboard()
    {
        

        if (await JS.InvokeAsync<bool>("document.hasFocus"))
        {
            try
            {
                await ClipboardService.CopyToClipboard($"{Program.Http}://{Program.DomainName}/{LinkToFile}");
                AutoCopied = true;
            }
            catch (Exception ex)
            {
                ErrorMsg = "Access denied to clipboard! Must manually copy.";
                AutoCopied = false;
            }
        }
        else
        {
            AutoCopied = false;
        }
    }
}